@use 'variables' as v;



.seccion {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }
  
  .izquierda, .derecha {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .izquierda {
    flex-direction: column;
    text-align: center;
  }
  
  .izquierda a {
    background-color: #1a2b3c;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    display: inline-block; /* Necesario para aplicar padding y dimensiones correctamente */
  }
  
  .izquierda h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .izquierda p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .izquierda button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: v.$beige;
    color: white;
    border-radius: 5px;
  }
  
  .derecha img {
    width: 400px;
    height: auto;
    object-fit: contain;
    margin: 20px;
  }
  
  @media (max-width: 768px) {
    .seccion {
      flex-direction: column;
      text-align: center;
      margin-top: 400px;
      margin-bottom: 100px;
    }
  
    .izquierda, .derecha {
      width: 100%;
    }
  
    .derecha img {
      max-width: 100%;
    }
  }