@use 'variables' as v;

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: v.$blanco;

}
.nav {
  background-color: v.$blanco;
  display: flex;
  align-items: center;
  gap: 1rem; 
  padding: 2rem;
}
.header.active{
  background-color: v.$beige;
}
.logo{
    max-width: 20rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 20px;
}
.nav-list li a {
    text-decoration: none;
    color: v.$gris;

}
.nav-list li a:hover{
    color: v.$beige;
}
.abrir-menu, .cerrar-menu {
    display: none;
}
.boton-principal{
    background-color: v.$marino;
    color: v.$blanco;
    padding: 8px 18px;
    border-radius: 8px;         
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.boton-principal:hover {
    background-color: v.$beige;
}

//
@media screen and (max-width: 930px){
.abrir-menu , .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.5rem;
        background-color: transparent;
        cursor: pointer;
    }
.abrir-menu{
    color: v.$beige;
 }
.cerrar-menu{
    color: v.$marino;
    margin-left: auto;
 }

.logo{
    max-width: 16rem;
    margin-left: -1rem;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top : 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: v.$beige;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.1);
    height: auto;         
}
.nav.visible{
    opacity: 1;
    visibility: visible;
}
.nav-list{
    flex-direction: column;
    align-items: end;
    font-size: 16px;
}
.nav-list li a {
    text-decoration: none;
    color: v.$blanco;
}
}