@use 'variables' as v;

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 1rem 2rem;
    transition: padding 0.3s ease, background-color 0.3s ease;
}
.header.shrink {
    padding: 0.4rem 2rem;
}
.header.shrink .logo {
    max-width: 15rem;
}
.nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 2rem; 
  padding: 2rem;
  transition: opacity 1s ease, visibility 1s ease;
}
.header.active{
  background-color: v.$beige;
}
.logo{
    max-width: 18rem;
    transition: max-width 0.3s ease;
} 
.nav-list{
    list-style-type: none;
    display: flex;
    gap:2rem;
    font-size: 18px;
}
.nav-list li a {
    text-decoration: none;
    color: v.$gris;
}
.nav-list li a:hover{
    color: v.$blanco;
}
.abrir-menu, .cerrar-menu {
    display: none;
}
.boton-principal{
    background-color: v.$marino;
    color: v.$blanco;
    padding: 8px 18px;
    border-radius: 8px;         
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
}
.boton-principal:hover {
    background-color: v.$gris;
}

//MOVIL
@media screen and (max-width: 640px){
.abrir-menu , .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
    }
.abrir-menu{
    color: v.$marino;
 }
.cerrar-menu{
    color: v.$marino;
    margin-left: auto;
 }
 .header.shrink .logo {
    max-width: 10rem;
}

.logo{
    max-width: 16rem;
    margin-left: -1rem;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: v.$beige;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.1);
    height: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease;

}
.nav.visible{
    opacity: 1;
    visibility: visible;
}
.nav-list{
    flex-direction: column;
    align-items: end;
    font-size: 16px;
}
.nav-list li a {
    text-decoration: none;
    color: v.$blanco;
}
}

//TABLET
@media (min-width: 640px) and (max-width: 768px) {
.logo{
    max-width: 16rem;
    margin-left: -1rem;
}
.nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem; 
    padding: 1rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 18px;
}
.nav-list li a {
    text-decoration: none;
    color: v.$gris;
}
.nav-list li a:hover{
    color: v.$blanco;
}
.boton-principal{
    background-color: v.$marino;
    color: v.$blanco;
    padding: 6px 12px;
    border-radius: 8px;         
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.boton-principal:hover {
    background-color: v.$marino;
}
.header.shrink .logo {
    max-width: 14rem;
}
}
