@use 'variables' as v;

.pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px; 
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }
.separador {
    width: 60%;     
    margin: 20px auto;
    border: none;
    height: 2px;
    background-color: v.$beige;
}
.pre h2{
  margin-top: 20px;
}
.pre p,
.pre h2,
.pre h3 {
  color: v.$gris;
}
.pre p {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3rem;
  }
  
@media (max-width: 768px) {
.pre {
    gap: 20px; 
    padding: 30px 16px; 
    }
.pre h2 {
    font-size: 1.3rem;
}

.pre h3 {
    font-size: 1rem;
}

.pre p {
    font-size: 1rem;
    padding: 0 10px;
}
.separador {
    width: 60%;
    margin: 2px auto;
    border: none;
    height: 2px;
    background-color: v.$beige;
  }
  
}
@media (max-width: 480px) {
  .pre {
      line-height: 1.3;
      color: v.$gris;
      width: auto;                        
      margin: 0 auto;            
      text-align: center;
      max-width: 90%;
    }
  .pre h2{
    margin-bottom: 20px;
}
}