@use 'variables' as v;

.servicios-sec {
    margin-top: 0px;
    margin-bottom: 0px;
}

.titulo-servicios {
    background-color: v.$beige;
    height: 100px;
    border: 1px v.$gris solid;
    display: flex;
    justify-content: center;  
    align-items: center;      
}

.titulo-servicios h2 {
    text-align: center;
    color: v.$negro;
    margin: 0; 
    font-weight: 450;
    letter-spacing: 2px;
    font-size: 25px;
}
.titulo-nosotros {
    background-color: v.$beige;
    height: 100px;
    border: 1px v.$gris solid;
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-top: 40px;
}

.titulo-nosotros h2 {
    text-align: center;
    margin: 0; 
    color: v.$negro;
    font-weight: 450;
    letter-spacing: 2px;
    font-size: 25px;
}

.contenido-peluqueria, .contenido-manicura, .contenido-tratamiento  {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}


.todo-servicios{
  display: flex;
  flex-direction: column;
  gap: -30px;
}
.columna-info {
  flex: 1;
  min-width: 280px;
  text-align: left;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
h3{
    color: v.$marino;
    font-size: 30px;
}
p, li{
    color: v.$gris;
    font-size: 16px;
    line-height: 1.5rem;
}}



.columna-foto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  padding: 30px;
}

.columna-foto img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
.servicios-peluqueria li::before,
.servicios-manicura li::before,
.servicios-tratamiento li::before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: v.$marino;
  margin-right: 8px;
}


.servicios-peluqueria, .servicios-manicura, .servicios-tratamiento {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

//MOVIL
@media screen and (max-width: 480px) {
  
  .contenido-peluqueria,
  .contenido-manicura,
  .contenido-tratamiento {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0 15px;
    margin: 0;
  }

  .titulo-servicios h2 {
    text-align: center;
    color: v.$negro;
    margin: 0; 
    font-weight: 450;
    letter-spacing: 2px;
    font-size: 20px;
}
.titulo-nosotros h2 {
  text-align: center;
  margin: 0; 
  color: v.$negro;
  font-weight: 450;
  letter-spacing: 2px;
  font-size: 20px;
}
  .columna-info {
    flex: 1;
    min-width: 280px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  h3{
      color: v.$marino;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  p, li {
    color: v.$gris;
    font-size: 18px;
    line-height: 1.5rem;
    text-align: left;
  }
  }
  .columna-foto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding: 10px;
  }
  .columna-foto img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }
.servicios-peluqueria li::before,
.servicios-manicura li::before,
.servicios-tratamiento li::before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: v.$marino;
  margin-right: 8px
}
.servicios-peluqueria, .servicios-manicura, .servicios-tratamiento {
  list-style: none;
  padding: 0;
  margin-top: 0px;
}

}
//tablet
@media screen and (max-width: 768px){
  .contenido-peluqueria, .contenido-manicura, .contenido-tratamiento  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap; 
  }

  .columna-info {
    flex: 1;
    min-width: 280px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  h3{
    color: v.$marino;
    font-size: 18px;
  }
  p, li{
    color: v.$gris;
    font-size: 16px;
    line-height: 1.5rem;
  }}
  .columna-foto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    padding: 20px 20px;
  }
  
  .columna-foto img {
    max-width: 120%;
    height: 200px;
    border-radius: 12px;
  }
  .titulo-servicios h2 {
    text-align: center;
    color: v.$negro;
    margin: 0; 
    font-weight: 450;
    letter-spacing: 2px;
    font-size: 20px;
}
.titulo-nosotros h2 {
  text-align: center;
  margin: 0; 
  color: v.$negro;
  font-weight: 450;
  letter-spacing: 2px;
  font-size: 20px;
}
}