//Fuente
$fuente_principal: 'Poppins', sans-serif;

//Colores
$gris: #333333;
$marino: #1a2b3c;
$beige: #beb7a4;
$blanco: #ffffff;
$negro: #000000;

//Fuentes Tamaño
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

