<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fress Essence</title>
    <link rel="stylesheet" href="../src/scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="index.html" class="logo" >
            <img src="/src/img/logo1.png" alt="Logo Fresh Essence" />
        </a>
        
        <nav>
            <ul > 
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class="botones-container">
            <a href="#" class="boton">Inicia Sesión</a>
            <a href="#" class="boton">Regístrate</a>
        </div>
    </header>
    
        <div class="fondo">
                <div class="cuadro">
                <div class="contenido-cuadro">
                    <div class="texto">
                    <h2>CLÍNICA ESTÉTICA EN ALGECIRAS</h2>
                    <p>En <strong>Fresh Essence</strong>, fusionamos ciencia, bienestar y belleza para ofrecerte una experiencia única en cuidado personal. Nuestro equipo de especialistas está comprometido con tu bienestar, utilizando tecnología de vanguardia y tratamientos personalizados para que te sientas y te veas mejor que nunca.</p>
                    </div>
                    <div class="botones-dos-columnas">
                        <a href="#" class="boton">Ver Tratamientos</a>
                        <a href="#" class="boton">Pedir Cita</a>
                    </div>
        </div>
    
<h1>Hola Mundo</h1>
    <script src="js/scripts.js"></script>
</body>
</html>